<!DOCTYPE html>
<html>
    <head>
      <title>BillBunny</title>
    </head>
    <body>
      <h1>Welcome to BillBunny!</h1>
      <div id="container">
        <div id="user_nav">
          <% if current_user %>
            Welcome <%= current_user.name %>!
            <%= link_to "Sign Out", signout_path %>
	    <br>
	    User id <%= current_user.uid %>

	    Money owed to <%= current_user.name %> = @to_receive
	    Money owed by <%= current_user.name %> = @to_pay

	    <!-- @xacts = Transactions.where(:owner_pid => @current_user.uid) -->
	    <!-- @xacts.each do |xact| -->
	    <!--   if @xact.amount < 0 -->
	    <!-- 	@to_pay += @xact.amount -->
            <!--   else -->
	    <!-- 	@to_receive += @xact.amount -->
            <!--   end -->
	    <!-- end -->
	    <!-- Money owed by <%= current_user.name %> = @to_pay -->
	    <!-- <br> -->
	    <!-- Money owed to <%= current_user.name %> = @to_receive -->

          <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook" %>
          <% end %>
      </div>
    </div>
  </div>
</body>
</html>



